
@import "./variaveis";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    width: 100%;
    height: 100vh;
}

body{
    @include flexCenter();
    
    background: $corBackground;
}

header{
    width: 100%;
    background-color: $corDoHeader;
    padding: 10px 20px;

}

.mavbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 1px solid white;*/
}

.logo{
    width: 90px;
    height: 70px;
    border-radius: 10px;
}

.hamburguer{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    
    position: relative;
    cursor: pointer;
    display: none;
}


.menu{
    list-style: none;
    display: flex;
    flex-grow: 2;
    align-items: center;
    li{
        margin-left: 10px;
        a{
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: $corPrimaria;
            font-size: 20px;
            transition: 0.5s ease;
            &:hover{
                color: $corBackground;
            }
        }
    }
}

.links{
    display: flex;
    position: relative;
    flex-grow: 3;
    justify-content: flex-end;
    margin-left: 15px;
}

.estilo-links{
    padding: 5px 18px;
    background-color: $corPrimaria;
    border-radius: 5px;
    color: $corBackground;
    text-decoration: none;
    font-size: 20px;
    float: right;
    margin-left: 15px;
}

#lupa{
    background: url('../img/lupa.png');
    width: 30px;
    height: 30px;
}

#entrar{
    color: $corPrimaria;
    background-color: #101010;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $corPrimaria;

    .div-imagem{
        img{
            height: 340px;
            width: 500px;
        }
    }

    .search{
        text-align: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        color: $corBackground;
    
        h1{
            font-size: 60px;
            margin-top: 150px;
        }
    
        h3{
            font-size: 20px;
        }
        
        .buscar-herois{
            width: 400px;
            background-color: $corBackground;
            background-repeat: no-repeat;
            height: 60px;
            border: none;
            outline: none;
            margin-left: 0px;
            margin-top: 100px;
            box-shadow: #000 2px 3px 10px;
            border-radius: 5px;
            font-size: 50px;

            img{
                width: 300px;
            }
        }

        #botao-search{
            background-image: url(../img/lupa-2.png);
            background-color: $corBackground;
            position: absolute;
            width: 50px;
            height: 60px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-repeat: no-repeat;
            margin-top: 100px;
            margin-left: 350px;
            cursor: pointer;
        }
        /*
        &::after{
            content: url(../img/lupa-2.png); o campo input nao pode conter um elemento after
            position: absolute;
            height: 50px;
            width: 50px;
            display: block;
            height: 50px;
        }
        */
    }
}


#container-mostrar-busca{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background-color: black;

    .div-imagens{
        width: 300px;
        height: 300px;
    }

    img{
        width: 100%;
        height: 100%;
    }

    .div-texto{
        background-color: $corPrimaria;
        max-width: 300px;
        height: 90px;
        padding: 10px 5px 10px 5px;
        text-align: center;
        font-size: 20px;
        color: $corBackground;
    }

    .div-car-herois{
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

footer{
    width: 100%;
    height: 300px;
    background-color: $corPrimaria;
    
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        color: $corBackground;
        font-size: 20px;
    }
}

@media screen and(max-width:925px){
    #lupa, #assinar, .logo{
        display: none;
    }

    .hamburguer{
        display: block;
        z-index: 999;
        background-image: url("../img/hamburger-icon.png");
    }

    .links{
        height: 70px;
    }

    .menu.active{
        left: 0;
    }

    .menu{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        background-color: #222;
        width: 100%;
        align-items: flex-start;
        padding: 100px 20px;
        flex-direction: column;
        transition: 0.5s ease;

        z-index: 1;
    }
}