* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #101010;
  padding: 10px 20px;
}

.mavbar {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 90px;
  height: 70px;
  border-radius: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.lateral {
  -webkit-box-flex: 0.2;
      -ms-flex-positive: 0.2;
          flex-grow: 0.2;
  height: 100vh;
  background-color: #222;
}

.lateral h1 {
  max-width: 350px;
  color: white;
  font-size: 30px;
  margin: 120px 0 0 60px;
}

.formulario {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 420px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario input {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: rgba(211, 207, 207, 0.781);
}

.formulario input:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 0 0 2px rgba(122, 121, 121, 0.699);
          box-shadow: 0 0 0 2px rgba(122, 121, 121, 0.699);
}

.formulario button {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: blue;
  color: white;
}

.formulario button:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #4c4cf5;
}

.formulario #id-singin {
  max-width: 210px;
  background-color: red;
  color: white;
}

.formulario #id-singin:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #fa4646;
}

.formulario hr, .formulario h2 {
  margin-bottom: 20px;
}

.central {
  max-height: 450px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #555;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 925px) {
  .central {
    margin-top: 60px;
  }
  .lateral {
    display: none;
  }
}
/*# sourceMappingURL=sigin_style.css.map */