@import "./variaveis";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    width: 100%;
    height: 100vh;
}

body{
    @include flexCenter();
}

header{
    width: 100%;
    background-color: $corDoHeader;
    padding: 10px 20px;
}

.mavbar{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 90px;
    height: 70px;
    border-radius: 10px;
}

.container{
    display: flex;
    flex-direction: row;
}

.lateral{
    flex-grow: 0.2;
    height: 100vh;
    background-color: $backgroundLateral;

    h1{
        max-width: 350px;
        color: $corBackground;
        font-size: 30px;
        margin: 120px 0 0 60px;
    }
}

.formulario{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    justify-content: center;
    align-items: center;
    
    input{
        width: 100%;
        padding: 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 6px;
        outline: none;
        background-color: $backgroundInput;
        
        &:hover{
            transition: 0.5s;
            box-shadow: 0 0 0 2px rgba(122, 121, 121, 0.699);
        }
    }

    button{
        width: 100%;
        padding: 16px;
        margin-bottom: 20px;
        border: none;
        border-radius: 6px;
        outline: none;
        background-color:$backgroundBotaoGoogle;
        color: $corBackground;

        &:hover{
            transition: 0.2s ease;
            background-color: $backgrounBotaoGoogleHover;
        }
    }

    #id-singin{
        max-width: 210px;
        background-color: $backgroundBotaoSingin;
        color: $corBackground;

        &:hover{
            transition: 0.2s ease;
            background-color: $backgroundBotaoSinginHover;
        }
    }

    hr, h2{
        margin-bottom: 20px;
    }
}

.central{
    max-height: 450px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: $corPrimaria;
    
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        color: $corBackground;
        font-size: 20px;
    }
}

@media screen and(max-width:925px) {

    
    .central{
        margin-top: 60px
    }

    .lateral{
        display: none;
    }
}