
@import "./variaveis";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    width: 100%;
    height: 100vh;
}

body{
    @include flexCenter();
    
    background: $corBackground;
}

header{
    width: 100%;
    background-color: $corDoHeader;
    padding: 10px 20px;

    .mavbar{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        /*border: 1px solid white;*/
    
        .logo{
            width: 90px;
            height: 70px;
            border-radius: 10px;
        }
    }

}

.hamburguer{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    
    position: relative;
    cursor: pointer;
    display: none;
}

.menu{
    list-style: none;
    display: flex;
    flex-grow: 2;
    align-items: center;
    li{
        margin-left: 10px;
        a{
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: $corPrimaria;
            font-size: 20px;
            transition: 0.5s ease;
            &:hover{
                color:$corBackground;
            }
        }
    }
}

.links{
    display: flex;
    position: relative;
    flex-grow: 3;
    justify-content: flex-end;
    margin-left: 15px;

    .estilo-links{
        padding: 5px 18px;
        background-color: $corPrimaria;
        border-radius: 5px;
        color:$corBackground;
        text-decoration: none;
        font-size: 20px;
        float: right;
        margin-left: 15px;
    }

    #entrar{
        color: $corPrimaria;
        background-color: #101010;
    }

    #lupa{
        background: url('../img/lupa.png');
        width: 30px;
        height: 30px;
    }

}

.container{
    display: flex;
    flex-direction: row;

    #imagem-marvel{
        width: 500px;
        height: 300px;
    }
    
    .div-text{
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        h1{
            margin-top: 50px;
            max-width: 550px;
            font-size: 42px;
        }

        h3{
            max-width: 550px;
            margin-top: 20px;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}

.container-filtros{
    display: flex;
    flex-direction: row;
    background-color: $corDoHeader;
    justify-content: space-around;

    button{
        padding: 5px 18px;
        margin: 5px 0px 5px 0px;
        border: none;
        outline: none;
        color: $corBackground;
        background-color: $corPrimaria;
        border-radius: 5px;
        font-size: 20px;

        &:hover{
            background-color: $corHoverFitros;
        }
    }
}

#container-card{
    width: 100%;
    background-color:$corBackground;
    display: flex;
    flex-direction: column;

    .cabecalho{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;

        #informacao{
            display: flex;
            flex-grow: 15;
            padding: 45px 0px 45px 0px;
            

            .desc-cabecalho{
                padding-left: 10px;
            }

        }

        .links-card{
            padding: 45px 0px 45px 0px;
            margin-left: 0px;
            display: flex;
            min-width: 300px;

            #entrar, #assinar{
                display: flex;
                flex-wrap: nowrap;
                text-align: center;
                padding-top: 20px;
                height: 50px;
                width: 80px;
            }
        }
    }

    
    #cartao-principal{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: $corPrimaria;
        margin: 0 auto;
        width: 60%;

        .imagens-principal{
            display: flex;
            height: 100%;
            width: 100%;
            border-radius: 30px;
        }

        .div-cartao-principal{
            display: flex;
            margin-top: 50px;
            margin-bottom: 50px;
            width: 400px;
            right: 500%;
            border-radius: 30px;
        }
    }
    
}

footer{
    width: 100%;
    height: 300px;
    background-color: $corPrimaria;
    margin-top: 50px;
    
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        color: $corBackground;
        font-size: 20px;
    }
}


@media screen and(max-width:925px) {

    #lupa, #assinar, .logo{
        display: none;
    }

    .hamburguer{
        display: block;
        z-index: 999;
        background-image: url("../img/hamburger-icon.png");
    }

    .menu{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        background-color:$backgroundMenu;
        width: 100%;
        align-items: flex-start;
        padding: 100px 20px;
        flex-direction: column;
        transition: 0.5s ease;
        z-index: 1;
    }

    .menu.active{
        left: 0;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .div-text{
            text-align: center;
        }
    }
}